"use strict";

const config = {
  application: {
    parallel_request_limit: 5
  },

  winston: {
    level: 'info'
  },

  redis: {
    host: null,
    port: null,
    db: null,
    password: null
  }
};

module.exports = config;
